@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

/* @font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold-webfont.woff);
    font-weight: bold;
} */

:root {
    --board-size: 0.85;
    --gap: 5px;
    /* --blue: #009cdf; */
    /* --green: #5ebd3e; */
    /* --yellow: #ffb900; */
    /* --red: #e23838; */

    --blue: deepskyblue;
    --green: green;
    --yellow: gold;
    --red: red;
}

body {
    font-family: Helvetica, sans-serif;
    transition: opacity 2s ease;
    margin: 0;
    opacity: 1;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    /* color: darkred; */
    text-align: center;
    font-size: calc(var(--board-size) / 3.0);
    margin-top: -10px;
    margin-bottom: 8px;
} 

span:nth-child(1) {
    color: var(--red);
}

span:nth-child(2) {
    color: var(--blue);
}

span:nth-child(3) {
    color: var(--yellow);
}

span:nth-child(4) {
    color: var(--green);
}

span:nth-child(5) {
    color: var(--red);
}

span:nth-child(6) {
    color: var(--blue);
}

span:nth-child(7) {
    color: var(--yellow);
}



.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    border: 10px solid gray;
    width: calc(var(--board-size) - var(--gap));
    height: calc(var(--board-size) + var(--board-size) / 4 - var(--gap));
    border-radius: 7px;
    gap: 5px;
    margin: auto;
    padding: 5px;
}

.board:after {
    position: absolute;
    top: calc(var(--board-size) + var(--board-size) / 4 + var(--gap));
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background: white;
    width: calc(var(--board-size) / 4 + var(--board-size) / 4 + var(--gap));
    height: 10px;
}

.cell {
    display: grid;
    position: relative;
    border-radius: 7px;
    background-color: whitesmoke;
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
}

.tile {
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 7px;
}

#t0 {
    width: calc(var(--board-size) / 4 + var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 + var(--board-size) / 4 - var(--gap));
    /* color: maroon; */
    background-color: var(--red);
    font-size: 5em;
}

#t1,#t2,#t3,#t4 {
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 + var(--board-size) / 4 - var(--gap));
    background-color: var(--blue);
}

#t5 {
    width: calc(var(--board-size) / 4 + var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
    background-color: var(--green);
}

#t6,#t7,#t8,#t9 {
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
    background-color: var(--yellow);
}

.return {
    transition: all 0.1s linear;
}

.move {
    z-index: 100;
  }

#designed {
    position: relative;
    text-align: center;
    align-self: auto;
    color: gray;
    font-size: 0.55em; 
    margin-top: -1.17em;
    /* opacity: 0.5; */
    z-index: 200;

}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 0;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 136px;
        line-height: 110%;    
    }

    .board {
        border: 15px solid gray;
        width: calc(var(--board-size-big) - var(--gap));
        height: calc(var(--board-size-big) + var(--board-size-big) / 4 - var(--gap));
    }

    .board:after {
        position: absolute;
        top: calc(var(--board-size-big) + var(--board-size-big) / 4 + var(--gap));
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 + var(--gap));
        height: 15px;
    }

    .cell {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #t0 {
        font-size: 150px;
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
    }

    #t1,#t2,#t3,#t4 {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
    }

    #t5 {
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #t6,#t7,#t8,#t9 {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #designed {
        font-size: 0.7em; 
        margin-top: -1.1em;
    }
}