/* @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
} */

/* @font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-Bold-webfont.woff);
    font-weight: bold;
} */

:root {
    --board-size: 85vmin;
    --gap: 5px;
    --blue: #00a4ef;
    --green: #7fba00;
    --yellow: #ffb900;
    --red: #f25022;

    /* --blue: deepskyblue; */
    /* --green: forestgreen; */
    /* --yellow: gold; */
    /* --red: red; */
}

body {
    font-family: Helvetica, sans-serif;
    transition: opacity 1s ease;
    /* transition: opacity 0s ease; */
    margin: 0;
    opacity: 0;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: relative;
    text-align: center;
    font-size: calc(var(--board-size) / 2.95);
    margin-top: -20px;
    margin-bottom: 8px;
} 

.reset {
    display: inline-grid;
    place-items: center;
    /* align-items: center; */
    /* justify-content: center; */
    cursor: pointer;
    width: calc(var(--board-size) / 5.1);
    height: calc(var(--board-size) / 5.1);
    background-color: var(--yellow);
    border-radius: 50%;
    vertical-align: middle;
}

/* .enabled > .circle {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
} */

.enabled > .arrows {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

img {
    width: calc(var(--board-size) / 9.5);
    height: calc(var(--board-size) / 9.5);
    transition: opacity 0.2s ease-in-out;

    opacity: 0;
}

.enabled > svg {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

svg {
    width: calc(var(--board-size) / 9.5);
    height: calc(var(--board-size) / 9.5);
    transition: opacity 0.2s ease-in-out;
    fill: white;
    opacity: 0;
}

/* svg {
    width: calc(var(--board-size) / 10);
    height: calc(var(--board-size) / 10);
} */

.circle {
    width: calc(var(--board-size) / 16);
    height: calc(var(--board-size) / 16);
    border: 6.5px solid white; 
    /* background-color: var(--red); */
    border-radius: 50%; 
    /* background-color: transparent; */
    opacity: 0;
}

span:nth-child(1) {
    color: var(--red);
}

span:nth-child(2) {
    color: var(--blue);
}

span:nth-child(3) {
    color: var(--yellow);
}

span:nth-child(4) {
    color: var(--green);
}

span:nth-child(5) {
    color: var(--red);
}

span:nth-child(6) {
    color: var(--blue);
}

span:nth-child(7) {
    color: var(--yellow);
}

/* span:nth-child(7) {
    background: linear-gradient(to bottom, var(--red) 30%, var(--yellow) 30%, var(--yellow) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    border: 10px solid gray;
    width: calc(var(--board-size) - var(--gap));
    height: calc(var(--board-size) + var(--board-size) / 4 - var(--gap));
    border-radius: 7px;
    gap: var(--gap);
    margin: auto;
    padding: var(--gap);
}

.board:after {
    position: absolute;
    top: calc(var(--board-size) + var(--board-size) / 4 + var(--gap));
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background: white;
    width: calc(var(--board-size) / 4 + var(--board-size) / 4 + var(--gap));
    height: 10px;
}

.cell {
    display: grid;
    position: relative;
    border-radius: 7px;
    background-color: whitesmoke;
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
}

.tile {
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 7px;
    /* color: white; */
    /* font-size: calc(var(--board-size) / 2.4); */

    transition: opacity 0.2s ease-in-out;

}

#t0 {
    width: calc(var(--board-size) / 4 * 2 - var(--gap));
    height: calc(var(--board-size) / 4 * 2 - var(--gap));
    background-color: var(--red);

    /* transition: opacity 0.2s ease-in-out; */

    /* z-index: 100;  */
}

#t1,#t2,#t3,#t4 {
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 * 2 - var(--gap));
    background-color: var(--blue);
}

#t5 {
    width: calc(var(--board-size) / 4 * 2 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
    background-color: var(--green);
}

#t6,#t7,#t8,#t9 {
    width: calc(var(--board-size) / 4 - var(--gap));
    height: calc(var(--board-size) / 4 - var(--gap));
    background-color: var(--yellow);
}

#glass {
    position: absolute;
    width: calc(var(--board-size) / 4 * 4 - var(--gap));
    height: calc(var(--board-size) / 4 * 5 - var(--gap));
    border-radius: 7px;
    transition: backdrop-filter 0.5s ease;
}

.grayscale {
    transition: background-color 0.5s ease;
    background-color: darkgray !important;
}

.blur {
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.return {
    transition: all 0.1s linear;
}

.ai-move {
    /* z-index: 100; */
    /* transition: all 0.15s ease-in-out; */
    transition: all 0.1s ease-in-out;
}

.invisible {
    opacity: 0;
}

#designed {
    position: relative;
    text-align: center;
    align-self: auto;
    color: gray;
    font-size: 0.55em; 
    margin-top: -1.17em;
    /* z-index: 200; */
}

@keyframes blink {

    0% {
        opacity: 1; 
    }
  
    50% {
        opacity: 0.5; 
    } 

    100% {
        opacity: 1;
    } 
}

.blink {
    animation: blink 0.1s ease-in-out forwards;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    } 
}

.rotate {
    animation: rotate 0.2s ease-in-out forwards;
}

@media (prefers-color-scheme: dark) {

    :root {       
        --gray: rgb(100,100,100);
    }
    
    body {
        background-color: black;
    }

    svg {
        fill: black;
    }

    .board {
        border-color: var(--gray);
    }

    .board:after {
        background: black;
    }

    .cell {
        background-color: #1a1a1a;
    }

    #designed {
        border-color: var(--gray);
    }
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 0;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size-big: 400px;
    }

    h1 {
        font-size: 138px;
        line-height: 110%;    
    }

    .reset { 
        width: 80px;
        height: 80px;
    }
    
    img {
        width: 45px;
        height: 45px;
    }

    svg {
        width: 45px;
        height: 45px;
    }

    .circle {
        width: 25px;
        height: 25px;
        border: 8px solid white; 
    }

    .board {
        border-width: 15px;
        width: calc(var(--board-size-big) - var(--gap));
        height: calc(var(--board-size-big) + var(--board-size-big) / 4 - var(--gap));
    }

    .board:after {
        position: absolute;
        top: calc(var(--board-size-big) + var(--board-size-big) / 4 + var(--gap));
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 + var(--gap));
        height: 15px;
    }

    .cell {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #t0 {
        /* font-size: calc(var(--board-size-big) / 2.3); */
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
    }

    #t1,#t2,#t3,#t4 {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
    }

    #t5 {
        width: calc(var(--board-size-big) / 4 + var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #t6,#t7,#t8,#t9 {
        width: calc(var(--board-size-big) / 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 - var(--gap));
    }

    #glass {
        width: calc(var(--board-size-big) / 4 * 4 - var(--gap));
        height: calc(var(--board-size-big) / 4 * 5 - var(--gap));
    }

    #designed {
        font-size: 0.7em; 
        margin-top: -1.1em;
    }
}